.welcome-container {
    text-align: center;
}

.text-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.text-welcome {
    font-weight: 300;
    letter-spacing: 2px;
    border-bottom: 1px solid #eee;

}

.platanera {
    width: 300px;
    margin-bottom: 30px;
}

.platanera:hover {
    width: 350px;
    transition: ease-in 0.5s;
}